nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: black;
}
ul{
    list-style: none;
    color:  white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

#lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
#logo{
    width: 50px;
    background-color: black;
    background-image: none;
}
.navBar a{
    color: yellow;
    
}